$header_font: 'Montserrat', 'Helvetica', sans-serif
$main_font: 'Merriweather', 'Times', serif

.transparent-bold
  font-weight: 700
  color: rgba(0,0,0,0.6)

p a
  @extend .transparent-bold

p a:hover
  color: rgba(255,255,255,0.8)

h1, h2
  color: white

h3, h4
  color: rgba(255,255,255,0.8)
  line-height: 1.5em

p, a, li
  color: rgba(0,0,0,0.6)

a
  text-decoration: none

h1
  font-size: 2.5em
  font-family: $header_font
  text-transform: uppercase

h2
  font-size: 1.8em
  font-family: $header_font
  text-transform: uppercase

h3
  font-size: 1.4em
  font-family: $header_font
  text-transform: uppercase

h4
  font-size: 1.15em
  font-family: $header_font
  text-transform: uppercase

p
  font-family: $main_font
  font-size: 16px
  line-height: 1.6em
  margin-top: 15px

ul li
  a
    color: rgba(0,0,0,0.6)
    font-family: $main_font
    font-size: 16px
  a:hover
    color: rgba(255, 255, 255, 0.7)
    i
      color: rgba(255, 255, 255, 0.7)
      font-size: 20px

.skills ul
  padding: 18px 10px 0 10px
  li
    color: rgba(0,0,0,0.6)
    font-family: $header_font
    padding: 6px

.summary p
  font-size: 1.3em
  font-family: $header_font
  color: rgba(255, 255, 255, 0.8)

.project
  ul
    li
      font-family: $header_font
      font-size: 0.9em
      line-height: 1.5 em
      display: inline-block
      padding: 4px
      color: rgba(0,0,0, 0.5)

.hoverstate
  background-color: rgba(255,255,255,0.3)
  color: rgba(0,0,0,0.6)

li.ruby:hover, li.html:hover, li.heroku:hover, li.sass:hover
  @extend .hoverstate

.job
  ul li
    @extend p
    font-size: 16px
    list-style: circle
    line-height: 20px
    margin-left: 25px
