body {
  margin: 3%;
  padding: 0 25px 25px 25px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  background: #02AAB0;
  background: -webkit-linear-gradient(to left, #02AAB0, #00CDAC);
  background: linear-gradient(to left, #02AAB0, #00CDAC); }

.projects h2, .education h2, .experience h2, .skills h2 {
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 18px;
  margin-top: 18px; }

.summary, .project, .job, .school, .skills {
  margin: 20px 0 20px 0; }

.summary {
  width: 40%;
  padding: 25px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  float: right; }

strong {
  font-weight: 700; }

header {
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 22px; }
  header h1 {
    display: inline-block;
    width: 39%;
    margin-top: 25px; }
  header div.contact {
    width: 61%;
    float: right;
    margin-top: 10px; }
    header div.contact li {
      padding: 2% 0 0 2%;
      display: inline-block; }
    header div.contact li.left {
      width: 40%; }
    header div.contact li.right {
      width: 25%; }
    header div.contact li.center {
      width: 25%; }

.project {
  width: 33%;
  display: inline-block;
  vertical-align: top; }
  .project p {
    padding-right: 20px; }

.skills {
  width: 50%;
  display: inline-block; }
  .skills ul li {
    display: inline-block; }

@media screen and (min-width: 966px) {
  body {
    background-color: white; } }
@media screen and (max-width: 965px) {
  body {
    background-color: honeydew; }

  header h1 {
    width: 100%;
    padding-bottom: 18px; }
  header div.contact {
    width: 100%;
    float: none; }

  .project {
    width: 49%; } }
@media screen and (max-width: 680px) {
  body {
    background-color: azure; }

  .project {
    width: 100%; } }
.transparent-bold, p a {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6); }

p a:hover {
  color: rgba(255, 255, 255, 0.8); }

h1, h2 {
  color: white; }

h3, h4 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5em; }

p, a, li {
  color: rgba(0, 0, 0, 0.6); }

a {
  text-decoration: none; }

h1 {
  font-size: 2.5em;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 1.8em;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: 1.4em;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-transform: uppercase; }

h4 {
  font-size: 1.15em;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-transform: uppercase; }

p {
  font-family: "Merriweather", "Times", serif;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 15px; }

ul li a {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Merriweather", "Times", serif;
  font-size: 0.8em; }
ul li a:hover {
  color: rgba(255, 255, 255, 0.7); }
  ul li a:hover i {
    color: rgba(255, 255, 255, 0.7); }

.skills ul {
  padding: 18px 10px 0 10px; }
  .skills ul li {
    font-family: "Montserrat", "Helvetica", sans-serif;
    padding: 6px; }

.project ul li {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 0.9em;
  line-height: 1.5 em;
  display: inline-block;
  padding: 4px;
  color: rgba(0, 0, 0, 0.5); }

.hoverstate, li.ruby:hover, li.html:hover, li.heroku:hover, li.sass:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=style.css.map */
