.header {
  display: block;
  height: 100px; }

.app-logo #Path {
  animation: color-change 10s linear infinite; }

.app-logo {
  margin: 20px;
  max-height: 40px;
  float: left; }

@keyframes color-change {
  0% {
    fill: #F1B62B; }
  11% {
    fill: #E37C22; }
  23% {
    fill: #DA0B36; }
  37% {
    fill: #AF0B58; }
  50% {
    fill: #7B3A88; }
  64% {
    fill: #3F51B5; }
  77% {
    fill: #1CA176; }
  91% {
    fill: #7DB759; }
  100% {
    fill: #F1B62B; } }

@keyframes color-change-background {
  0% {
    background-color: #F1B62B; }
  11% {
    background-color: #E37C22; }
  23% {
    background-color: #DA0B36; }
  37% {
    background-color: #AF0B58; }
  50% {
    background-color: #7B3A88; }
  64% {
    background-color: #3F51B5; }
  77% {
    background-color: #1CA176; }
  91% {
    background-color: #7DB759; }
  100% {
    background-color: #F1B62B; } }

.header-bar {
  height: 120px;
  animation: color-change-background 10s linear infinite;
  position: fixed;
  top: -111px;
  width: 100%; }
