.header {
  display: block;
  height: 100px; }

.is-active {
  color: purple; }

.app-logo #Path {
  animation: color-change 10s linear infinite; }

.app-logo {
  margin: 20px;
  max-height: 40px;
  float: left; }

@keyframes color-change {
  0% {
    fill: #F1B62B; }
  11% {
    fill: #E37C22; }
  23% {
    fill: #DA0B36; }
  37% {
    fill: #AF0B58; }
  50% {
    fill: #7B3A88; }
  64% {
    fill: #3F51B5; }
  77% {
    fill: #1CA176; }
  91% {
    fill: #7DB759; }
  100% {
    fill: #F1B62B; } }
